<nav class="fullscreen-nav">
	
	<div class="hover-catcher">
		
		<div class="header-left">
			<ul class="nav-left">
				<li>
					<a href="{{ site.baseurl }}/blog" class="nav-link">Blog</a>
				</li>
				
				<li>
					<a href="{{ site.baseurl }}/projects" class="nav-link">Projects</a>
				</li>
			</ul>
		</div>
		
		<div class="logo">
			
			<a href="{{ site.baseurl }}/">
				<img src="http://www.gravatar.com/avatar/{{ site.author.gravatar }}?s=100" class="gravatar">
			</a>
	
		</div>
		
	  <div class="header-right">
			<ul class="nav-right">
				<li><a href="https://github.com/{{ site.author.github }}" class="nav-link">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" class="nav-link">LinkedIn</a></li>
			</ul>
		</div>
		
	</div>

</nav>

<!-- mobile nav menu -->

<script>
	function toggleMenu() {
		
		var menu = document.getElementById('mob-menu');
		
		if ( menu.className == "menu-hide" ) {
			menu.className = "menu-show";
		} else {
			menu.className = "menu-hide";
		}
		
	}
</script>

<nav class="mobile-nav">
	
	<div class="mob-logo">
		
		<a href="{{ site.baseurl }}/">
			<img src="http://www.gravatar.com/avatar/{{ site.author.gravatar }}?s=80" class="gravatar">
		</a>
		
	</div>
	
	<div class="menu-container">
		
		<button id="hamburger-btn" onclick="toggleMenu();" onmouseover="this.style.cursor='pointer';">
			<span></span>
			<span></span>
			<span></span>
		</button>
		
		<div class="menu-hide" id="mob-menu">
			
			<ul>
				<li><a href="{{ site.baseurl }}/" class="mob-link">Home</a></li>
				<li><a href="{{ site.baseurl }}/blog" class="mob-link">Blog</a></li>
				<li><a href="{{ site.baseurl }}/projects" class="mob-link">Projects</a></li>
				<li><a href="https://github.com/{{ site.author.github }}" class="mob-link">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" class="mob-link">LinkedIn</a></li>
			</ul>
			
		</div>
		
	</div>
	
</nav>