@import "config.scss";

.diamond {
    position: relative;
    @media (max-width: 699px) {
      height: $banner-size-narrow;
      width: $banner-size-narrow;
      line-height: $banner-size-narrow;
    }
    @media (min-width: 700px) {
      height: $banner-size;
      width: $banner-size;
      line-height: $banner-size;
    }
    text-align: center;
    margin: 10px 40px;
    white-space: nowrap;
  :before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform: rotateX(45deg) rotateZ(45deg);
    box-shadow: 0px 0px 12px #aaa;
  }
  :after {
    position: absolute;
    top: 10px;
    left: 10px;
    content: '';
    height: calc(100% - 24px);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
    width: calc(100% - 24px);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
    border: 2px solid $lighter-color;
    transform: rotateX(45deg) rotateZ(45deg);
    @extend .dim;
  }
}
.banner-font {
  @media (max-width: 699px) {
    font-size: $banner-font-narrow;
  }
  @media (min-width: 700px) {
    font-size: $banner-font-size;
  }
  font-family: $banner-font, cursive;
}