@import url('https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre');

/* fonts */
$body-font: "Open Sans";
$header-font: "Proza Libre";

$font-body: "Open Sans";
$font-header: "Proza Libre";

/* colors */
$lighter-color: #8291cf;
$heading-contrast-color: #777;   /* contrast colors for h3, h5, h6 */

$color-bg-light: #fafafa;
$color-bg-dark: #00b383;
$color-text-light: #f3f3f3;
$color-text-medlight: #ccc;
$color-text-med: #aaa;
$color-text-dark: #333;
$color-link-light: #99ffe4;
$color-link-dark: #00805e;
$color-contrast-dark: #777;
$color-contrast-light: #99ffe4;

/* sizes */
$base-font-size: 12px;
$content-width: 540px;
$splash-width: 450px;
