@import url('https://fonts.googleapis.com/css?family=PT+Sans|Yeseva+One');

/* colors, fonts */
$highlight-color: #5c74d3;
$lighter-color: #8291cf;
$body-font: "PT Sans";
$banner-font: "Yeseva One";

/* sizes */
$base-font-size: 14px;
$content-width: 640px;  /* google comment box needs to match */
$content-padding: 3.5rem;
$content-padding-narrow: 2.25rem;  /* for smaller devices */
$banner-size: 220px;
$banner-font-size: 30px;