@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* colors, fonts */
$body-font: "PT Sans";
$highlight-color: #5c74d3;
$lighter-color: #8291cf;
$heading-contrast-color: #777;   /* contrast colors for h3, h5, h6 */
$bg-color: #f9f9f9;
$border-color: #bbb;

/* sizes */
$base-font-size: 13px;
$content-width: 900px;
$index-width: 420px;
$index-width-mobile: 250px;