@import "tachyons/tachyons.scss";
@import "config.scss";

/* TODO get rid of this legacy nonsense */
.bg-super-white { background: #f9f9f9; }

html { 
  font-size: $base-font-size; 
  font-family: $body-font, sans-serif; 
  scroll-behavior: smooth; 
}
.katex { font-size: 1.15rem !important; }

.bg-dark { background: $color-bg-dark; }
.bg-light { background: $color-bg-light; }
.text-dark { 
  color: $color-text-dark;
  h3, h5, h6 { color: $color-contrast-dark; }
  a {
    color: $color-link-dark;
    text-decoration: none;
    @extend .dim;
  }
}
.text-light { 
  color: $color-text-light;
  h3, h5, h6 { color: $color-contrast-light; }
  a {
    color: $color-link-light;
    text-decoration: none;
    @extend .dim;
  }
}
.title {
  font-family: $font-header;
  color: $color-text-dark;
  text-transform: uppercase;
  text-align: center;
  @extend .f2;
}
.border-light { 
  border-color: $color-text-light; 
}
.border-dark { 
  border-color: $color-text-dark; 
}

h1, h2, h3, h4, h5, h6 { @extend .mt4; @extend .mb3; font-family: $font-header, sans-serif; }
h1 { @extend .f2; }
h2, h3 { @extend .f3; }
h4, h5, h6 { @extend .f4; }
h6 { font-style: italic; }

.border-dim {
  border-color: $color-text-light;
  &:hover {
    border-color: $color-link-dark;
    transition: 0.3s;
  }
}
.bottom-center {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 40%);
  -ms-transform: translate(-50%, 40%);
  -o-transform: translate(-50%, 40%);
  -moz-transform: translate(-50%, 40%);
  transform: translate(-50%, 40%);
}

/* index page */
.splash {
  max-width: $splash-width;
  display: table;
  position: absolute;
  top: -80px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* markdown styles */
.markdown-body > .highlighter-rouge,
.markdown-body > blockquote {
  padding: .5rem 2rem;
  margin: 2em 0rem;
}
.markdown-body {
  code, pre { @extend .f6; }
  pre {
    margin: 0;
    overflow: auto;    
  }
  img {
    display: block;
    max-width: 90%;
    max-height: 75vh;
    margin: 2rem auto;
  }
  hr {
    margin: 2.5em -2rem;
    border: 0;
    border-bottom: 1px dotted $color-text-dark;
  }
  blockquote {
    @extend .f4;
    color: $color-contrast-dark;
    background: $color-bg-light;
    border-left: .4rem solid $color-link-dark;
    padding-left: 2.4rem;
  }
  .footnotes {
    @extend .f6, .mt5;
    img { margin: 0.25rem auto; }
    li { padding-bottom: 0.5rem; }
  }
  .highlighter-rouge { padding: .4rem .5rem; }
  table {
    table-layout: auto;
    margin: 2rem auto;
    border-collapse: collapse;
    @extend .f6;
    th {
      text-align: left;
      padding: 8px 10px;
      border-bottom: 1px solid $lighter-color;
    }
    td {
      padding: 4px 8px;
      border-top: 1px dashed $lighter-color;
    }
  }
  .video {
    position: relative;
    display: block;
    margin: 2rem auto;
    width: 90%;
    height: 0;
    overflow: hidden;
    padding-bottom: 55%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.caption {
  display: block;
  text-align: center;
  margin: -1.2rem auto 2rem;
  color: $heading-contrast-color;
}