@import "tachyons/tachyons.scss";
@import "config.scss";

.bg-super-white { background: $bg-color; }
.top-50 { top: 50%; }
.highlight-color { color: $highlight-color; }
.global-font { font-family: $body-font, sans-serif; }
.katex { font-size: 1.15rem !important; }
html { font-size: $base-font-size; }

/* sizing */
.content-width { max-width: $content-width; }
.mt-4 { margin-top: -1.4rem; }
.hide-small { 
  @media (max-width: $content-width + 199px) {
    display: none;
  }
  @media (min-width: $content-width + 200px) {
    display: inline;
  }
}

/* fix for google comments being irritatingly off by 2 pixels */
.comments-container {
  margin-left: -2px;
}

/* markdown styles */
.markdown-body > .highlighter-rouge,
.markdown-body > blockquote {
  padding: .5rem 2rem;
  margin: 2em 0rem;
}
.markdown-body {
  h1, h2, h3, h4, h5, h6 { @extend .mt4; }
  h1 { @extend .f3; }
  h2, h3 { @extend .f4; }
  h4, h5, h6 { font-size: 1.1rem; }
  h3, h5, h6 { color: $heading-contrast-color; }
  h6 { font-style: italic; }
  a {
    text-decoration: none;
    color: $highlight-color;
    @extend .dim;
  }
  code, pre { @extend .f6; }
  pre {
    margin: 0;
    overflow: auto;    
  }
  img {
    display: block;
    max-width: 80%;
    margin: 2rem auto;
    border: 0.8rem solid white;
    box-shadow: 1px 1px 2px 2px $border-color;
  }
  hr {
    margin: 2.5em -2rem;
    border: 0;
    border-bottom: 1px dotted $border-color;
  }
  blockquote {
    background: $bg-color;
    border-left: .2rem solid $highlight-color;
    padding-left: 2.4rem;
  }
  .footnotes {
    @extend .f6, .mt5;
    img { margin: 0.25rem auto; }
    li { padding-bottom: 0.5rem; }
  }
  .highlighter-rouge { padding: .4rem .5rem; }
  table {
    table-layout: auto;
    margin: 2rem auto;
    border-collapse: collapse;
    @extend .f6;
    th {
      text-align: left;
      padding: 8px 10px;
      border-bottom: 1px solid $lighter-color;
    }
    td {
      padding: 4px 8px;
      border-top: 1px dashed $lighter-color;
    }
  }
  .video {
    position: relative;
    display: block;
    margin: 2rem auto;
    width: 90%;
    max-width: $content-width; /* prevent giant sized videos */
    height: 0;
    overflow: hidden;
    padding-bottom: 55%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.caption {
  display: block;
  text-align: center;
  margin: -1.2rem auto 2rem;
  color: $heading-contrast-color;
}