@import "tachyons/tachyons.scss";
@import "config.scss";

.bg-super-white { background: #f9f9f9; }
.top-50 { top: 50%; }
.highlight-color { color: $highlight-color; }
.global-font { font-family: $body-font, sans-serif; }
.katex { font-size: 1.13em !important; }
html { font-size: 16px; }

/* sizing */
.set-width { max-width: $content-width; }
.set-padding { padding: $content-padding;
  @media (max-width: 600px) {
    padding: $content-padding-narrow;
  }
}
.mt-4 { margin-top: -1.25rem; }
.hide-small { 
  @media (max-width: 679px) {
    display: none;
  }
  @media (min-width: 680px) {
    display: inline;
  }
}

/* fix google comment box being annoyingly off by 2 pixels */
.move-left { margin-left: -2px; }

/* markdown styles */
.markdown-body > .highlighter-rouge,
.markdown-body > blockquote {
  padding: .5rem 2rem;
  margin: 2em 0rem;
}
.markdown-body {
  h1, h2, h3, h4, h5, h6 { @extend .mt4; }
  a {
    text-decoration: none;
    color: $highlight-color;
    @extend .dim;
  }
  code, pre { @extend .f7; }
  pre {
    margin: 0;
    overflow: auto;    
  }
  img {
    display: block;
    max-width: 80%;
    margin: 2rem auto;
  }
  hr {
    margin: 2.5em -2rem;
    border: 0;
    border-bottom: 1px dotted #CCC;
  }
  blockquote {
    background: #f9f9f9;
    border-left: .2rem solid $highlight-color;
    padding-left: 2.4rem;
  }
  .footnotes {
    @extend .f7, .mt5;
    img { margin: 0.25rem auto; }
    li { padding-bottom: 0.5rem; }
  }
  .highlighter-rouge { padding: .4rem .5rem; }
  table {
    table-layout: auto;
    margin: 2rem auto;
    border-collapse: collapse;
    @extend .f6;
    th {
      text-align: left;
      padding: 8px 10px;
      border-bottom: 1px solid $lighter-color;
    }
    td {
      padding: 4px 8px;
      border-top: 1px dashed $lighter-color;
    }
  }
  .video {
    position: relative;
    display: block;
    margin: 2rem auto;
    width: 90%;
    max-width: $content-width; /* prevent giant sized videos */
    height: 0;
    overflow: hidden;
    padding-bottom: 55%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.caption {
  display: block;
  text-align: center;
  margin: -1.2rem auto 2rem;
  color: #888;
}