---
layout: default
title: Blog
---

<article>
	
	<h1 class="title">{{ page.title }}</h1>

  {% for post in paginator.posts %}
  
    <div class="divider"></div>
    
    <div class="post-title">
      <div class="post-link"><a class="title-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></div>
      <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
    </div>
    
    <div></div>
      {{ post.excerpt }}
    </div>
    
  {% endfor %}
  
  {% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
  {% endif %}

</article>

<div class="back">
	<a href="{{site.baseurl}}/">Back to home</a>
</div>
