---
layout: default
title: Blog
---

<article>
	
	<h1 class="title">Recent Posts</h1>

  {% for post in paginator.posts %}
      
    <div class="post-title">
      <div class="post-link"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></div>
      <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
    </div>
  
    <div class="post-excerpt">
      {% if post.description %}
      
        {{ post.description }}
        
      {% else %}
      
        {{ post.excerpt | strip_html }}
      
      {% endif %}
    </div>
    
  {% endfor %}
  
  {% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
  {% endif %}

</article>

<div class="back">
	<a href="{{site.baseurl}}/">Back to home</a>
</div>
