<!doctype>
<html lang="en">
  {% include head.html %}
  <body class="lh-copy dark-gray pa0 f5 bg-super-white global-font">
    {% include banner.html %}
    <div class="content-width bg-white mt4 mb3 center br2-ns bt bb ba-ns b--light-gray">
      {% include pagination.html %}
      {% include links.html %}
      <main class="tl f5 relative pa4 pa5-ns overflow-hidden">
        {% include posttitle.html %}
        <div class="markdown-body">
          {{ content }}
        </div>
      </main>
    </div>
    {% include comments.html %}
    {% include footer.html %}
  </body>
</html>
