<!doctype>
<html lang="en" prefix="og: http://ogp.me/ns#">
  
  {% include head.html %}

  <body class="bg-light">
    <div class="front-bg">
      <div class="front-box">
        <div class="front-pic">
          <!-- <img id="front-portrait" src="/assets/lise-savard.jpg"> -->
          <img id="front-portrait" src="/assets/images/2020/puppy.jpg">
        </div>

        <div class="text-light front-bio">
          <h2>hi, i'm lise.</h2>
    
          <p>{{content}}</p>
    
          <!-- <p>
            <a href="#blog">blog</a> 
            <span class="hspace">//</span>
            <a href="/resume">resume</a>
            <span class="hspace">//</span>
            <a href="https://www.linkedin.com/in/lsava">linkedin</a>
          </p> -->
        </div>
      </div>
    </div>

    <!-- <main class="index">

      <div id="blog" class="title-string">Posts</div>

      <div class="vspace"></div>
      
      <ul class="text-dark front-posts-list">
        {% for post in site.posts %}
        <li>
          <a href="{{ site.url }}{{ post.url }}">
            <time>{{ post.date | date: "%b %Y" }}</time>
            {{ post.title }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <div class="front-footer">
        made with &hearts; by lise
      </div>

    </main> -->
  </body>
</html>
