<!doctype>
<html lang="en" prefix="og: http://ogp.me/ns#">
  
  {% include head.html %}

  <body class="bg-light">
    <div class="front-bg">
      <div class="front-box">
        <div class="front-pic">
          <img id="front-portrait" src="/assets/lise-savard.jpg">
        </div>

        <div class="front-bio">
          <h2 class="mt0">lise savard.</h2>
    
          <p>{{content}}</p>
    
          <p>
            <a href="#posts">blog</a> 
            <span class="pl1 pr1">//</span>
            <a href="/resume">resume</a>
            <span class="pl1 pr1">//</span>
            <a href="https://www.linkedin.com/in/lsava">linkedin</a>
          </p>
        </div>
      </div>
    </div>

    <main class="index">

      <div class="title-string">Posts</div>

      <div class="vspace"></div>
      
      <div class="text-dark">
        <ul class="list pa0">
          {% for post in site.posts %}
          <li class="mv2">
            <time class="fr silver ttu">{{ post.date | date: "%b %Y" }} </time>
            <a href="{{ site.url }}{{ post.url }}" class="db pv1 link dim">
              {{ post.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer">
        made with &hearts; by lise
      </div>

    </main>
  </body>
</html>
